<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - Forum</title>
</head>
<body>

    <nav>
        <a href="/">Home</a>
        {{if .IsAuthenticatedOk}}
            <a href='/post/create'>Create Post</a>
            <form action='/auth/logout' method='POST' style="display:inline;">
                <button style="cursor:pointer;">Logout</button>
            </form>
        {{else}}
            <a href="/auth/register">Register</a>
            <a href="/auth/login">Login</a>
        {{end}}
    </nav>

    <h1>Latest Posts</h1>

    <div>
        <strong>Filter by Category:</strong>
        <a href="/">All</a>
            <a href="/?category=Fantasy_SciFi_Horror">Fantasy/Sci-Fi</a>
            <a href="/?category=Classics">Classics</a>
            <a href="/?category=General_Fiction">General Fiction</a>
            <a href="/?category=Crime_Mystery_Thriller">Crime/Thriller</a>
            <a href="/?category=Womens_Fiction">Women's Fiction</a>
            <a href="/?category=Childrens">Children's</a>
            <a href="/?category=Poetry_Plays">Poetry/Plays</a>
            <a href="/?category=Non_Fiction">Non-Fiction</a>
            <a href="/?category=Historical_Fiction">Historical Fiction</a>
        <span>|</span>

        <strong>Filter by Book:</strong>
        <a href="/">All Books</a>
        {{range .Books}}
         <a href="/?book_id={{.ID}}">{{.Title}}</a>
         {{end}}
    </div>

    <div class="feed">
        {{if .Posts}}
            {{range .Posts}}
            <div class="post-summary">
                
                <h2 class="post-title">
                    <a href="/post/{{.Post.ID}}">{{.Post.Title}}</a>
                </h2>

                <div class="meta">
                    By <strong>{{.AuthorName}}</strong> on {{.FormattedDate}}
                    {{if .Post.BookID}} | Book #{{.Post.BookID}} {{end}}
                </div>

                {{if .Post.ImagePath}}
                <div class="post-image">
                    <img src="{{.Post.ImagePath}}" alt="Post Image">
                </div>
                {{end}}

                <p>{{.Post.Content}}</p>

                <div class="stats">
                    <form action="/post/{{.Post.ID}}/like" method="POST">
                        <button class="like-btn" type="submit">❤️</button>
                        <span>{{.LikeCount}} Likes</span>
                    </form>
                </div>

            </div>
            {{end}}
        {{else}}
            <p>No posts found. Create one!</p>
        {{end}}
    </div>

</body>
</html>